.confirm-msgbox-popup-wrap{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9990;
    width: 100%;
    height: 100%;
    .cursor-point{
        cursor: pointer;
    }
    .confirm-mask-bg{
        position: absolute;
        z-index: 9991;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    #confirm_content_wrap{
        position: absolute;
        z-index: 9999;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 250px;
        margin: -125px 0 0 -200px;

        .msg-in{
            background: #ffffff;
            border-radius: 14px;
            -webkit-border-radius: 14px;
            -moz-border-radius: 14px;
        }
        #msg_header{
            padding-top: 15px;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }
        #msg_title{
            color: #333333;
            text-align: center;
            padding: 10px 0 10px;
            font-size: 20px;
            font-weight: bold;
        }
        #msg_msg{
            color: #000000;
            padding: 20px;
            vertical-align: middle;
            font-size: 16px;
            line-height: 1.4;
            max-height: 100px;
            overflow-y: auto;
        }
        #msg_btn_wrap{
            border-top: 1px solid #e6e6e5;
        }
        .msg-btn{
            padding-top: 12px;
            padding-bottom: 12px;
            display: inline-block;
            width: 50%;
            font-size: 15px;
            color: #ffffff;
            border: none;
            border-right: 1px solid #e6e6e5;

            &:last-child{
                border: none;
            }
        }
        #msg_btn_ok{
            color: #0079FF;
        }
        #msg_btn_no{
            color: rgba(0, 0, 0, 0.9);
        }
    }
}


@media screen and (max-width: 1000px) {
    .confirm-msgbox-popup-wrap{

        #confirm_content_wrap{
            #msg_title{
                font-size: 30px;
            }

            #msg_msg{
                font-size: 28px;
            }
            .msg-btn{
                font-size: 28px;
            }
        }
    }
}
